@media only screen and (min-width: 768px) {
  .nav-container {
    position: fixed;
    left: 0;
    width: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  .nav-container {
    position: fixed;
    left: 0;
    width: 16.66666667%;
  }
}
